.mercury-code-editor-container {
  height: 100%;
  .mercury-code-action-bar-container {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
  }
  .mercury-code-write-container {
    width: 100%;
    height: 50%;

    &.hide {
      height: 0;
      overflow: hidden;
    }
  }

  .mercury-code-editor-tab-container {
    margin-top: 20px;

    &.hide {
      height: 0;
      overflow: hidden;
      margin-top: 0;
    }
    .mercury-code-logger-container {

    }

    .mercury-code-render-container {

    }
  }

}