.mercury-code-editor-container {
  height: 100%;
  .mercury-code-action-bar-container {
    width: 100%;
    height: 30px;
  }
  .mercury-code-write-container {
    width: 100%;
    height: 50%;
  }

  .mercury-code-logger-container {

  }

  .mercury-code-render-container {

  }
}