.mercury-suggestion-save-note-button {
  transform: 0deg;
  transition: all 0.5s;
  &.suggest {
    transition: all 0.1s;
    transform: rotate(-360deg);
    border-radius: 50px;
    span[icon] {
      color: #48AFF0;
    }
  }
}
