@import url("~quill/dist/quill.core.css");
@import url("~quill/dist/quill.snow.css");
@import url("~quill-better-table/dist/quill-better-table.css");

.mercury-paragraph-editor {
  .ql-toolbar {
    display: block;
    position: sticky;
    top: 50px;
    left: 0;
    z-index: 11;
    background: #ffffff;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(16, 22, 26, 0.2);
  }

  .ql-container {
    border: none;
    font-weight: inherit;

    .ql-editor {
      min-height: calc(100vh - 91px);
      iframe {
        pointer-events: none;
      }
    }
  }
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: "Normal";
  font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: "Large";
  font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: "Huge";
  font-size: 18px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="72px"]::before {
  content: "왕만함";
  font-size: 18px !important;
}
