.mercury-notification-normal {
  min-width: 100px;
  max-height: 400px;
  overflow: hidden;
  .log-notification{
    color: white;
    background: #669EFF;
    opacity: 0.8;
  }
  .error-notification{
    color: white;
    background: #A82255;
    opacity: 0.8;
  }
  .warn-notification{
    color: white;
    background: rgb(209, 160, 35);
    opacity: 0.8;
  }
}