.editor-container {
  .editor-controller-box {
    text-align: right;
    margin-bottom: 10px;
    button {
      min-width: 100px;
    }
  }
  .editor {
    width: 100%;
    .monaco-editor {
      width: 100%;
      min-height: 150px;
    }
  }
}
