.editor-container {
  .editor-controller-box {
    text-align: right;
    margin-bottom: 10px;

    button {
      min-width: 100px;
    }
  }

  .editor {
    width: 100%;

    .monaco-editor {
      width: 100%;
      min-height: 150px;
    }
  }

  .console {
    .log-viewer {
      word-break: break-all;

      .log-controller-box {
        text-align: right;
      }

      .log-list {
        .log-row {
          border-bottom: 1px solid #f0f0f0;

          &.level-log {
          }

          &.level-warn {
          }

          &.level-error {
          }
        }
      }

    }
  }
}
