.editor-controller-box {
  position: relative;
  text-align: right;
  .code-container-title {
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    .bp3-input-group {
      input {
        font-size: 15px;
        font-weight: 600;
        box-shadow: none;
      }
    }
  }
  .bp3-button-group {
    .run-code-button {
      min-width: 130px;
      &.need-to-execute-this-code {
        background: linear-gradient(-45deg, #65a1bd, #c92ce7, #137cbd, #23d5ab);
        background-size: 400% 400%;
        animation: need-to-execute-animation-bg 4s ease infinite;
        @keyframes need-to-execute-animation-bg {
          0% {
            background-position: 0 100%;
          }

          50% {
            background-position: 100% 0;
          }

          100% {
            background-position: 0 100%;
          }
        }
      }
    }
    .config-button {

    }
  }
}